# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints

# Build artifacts
build/
dist/
*.egg-info/

# Virtual environment
venv/
env/
.venv/
.env

# IDE specific files
.idea/
.vscode/
